:root {
  --font-family-base: 'Hurme Geometric Sans', sans-serif;
  --font-family-serif: 'Albra Display', sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --line-height-base: 1.5;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: var(--line-height-base);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  font-family: 'Hurme Geometric Sans', sans-serif;
  font-weight: 500;
}